input:invalid {
  border: 2px solid darkgray;
}

input:valid {
  border: 2px solid black;
}
main {
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
body {
  background-color: #322f37;
}
footer {
  padding-top:10px;
  color: white;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.error {
  text-align: center;
  color: white;
}
#bottom {
  bottom: 5px;
}
#secret {
    display: None;
}
#hash_hint {
  cursor: pointer;
}
#hiddenLink {
  color: #212529;
}