{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <h1>About</h2>
        <p>
            For my final project I decided to build on what we have learnt on the course in order to create a simple flask web app game. The idea behind the game is to learn about potential security flaws that occur
            when developing a dynamic flask application. The "hacking" puzzle game, is aimed at people like myself, who are novice programmers that are interested in learning web development and a few basic web application security
            vulnerabilities. This puzzle game is a simple abstract representation of actual security flaws that you would see in the wild designed in a way that is hopefully fun and educational.
        </p>
    </div>
{% endblock %}