{% extends "layout.html" %}

{% block title %}
    You Win
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <h1>Winner, Winner, Chicken Dinner...</h1>
        <p>
            Congratulations, you have successfully completed all three levels and achieved remote code execution. Unless you cheated.
            Either way, I hope this was a learning experience for anyone that chose to play. If you enjoyed this, you might want to look into CTFs.
        </p>
        <p>
            Thanks for playing
        </p>
    </div>
{% endblock %}
