{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <h1>Login</h1>
    </div>
    <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" id="uname" name="username" placeholder="Username" type="text" required>
        </div>
        <p id="unameError"></p>
        <div class="form-group">
            <input class="form-control" id="passwd" name="password" placeholder="Password" type="password" required>
        </div>
        <p id="passwdError"></p>
        <button class="btn btn-primary" type="submit" onclick="custom_validate()">Log In</button>
    </form>
{% endblock %}
