{% extends "layout.html" %}

{% block title %}
    Level 2
{% endblock %}

{% block head %}
  {{ super() }} <!-- this line renders the contents of a block defined in layout.html -->
  <style type="text/css">
    body { background-color: #2E8B57; }
  </style> <!-- colour is SeaGreen -->
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <h1>Level 2</h1>
        <p>
            Congratulations, you've reached level two. Hopefully finding this page wasn't too difficult. The next challenge will start here, guessing
            probably won't get you through this one. Good luck.
        </p>
    </div>
    <form action="/admin" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="query" placeholder="Username" type="text" required>
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
{% endblock %}